body {
  font-family: Arial, sans-serif;
  background-color: #80aaec;
  color: #333;
  margin: 0;
  padding: 20px;
}
header {
  background-color: #01052d;
  color: #fff;
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 2.5em;
}
main {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}
button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
button:hover {
  background-color: #0056b3;
}
#challengeList ul {
  list-style-type: none;
  padding: 0;
}
#challengeList ul li {
  margin: 15px 0;
}
#challengeList ul li a {
  text-decoration: none;
  color: #430d04;
  font-size: 1.2em;
}
#challengeList ul li a:hover {
  text-decoration: underline;
}
